/* body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

._portada {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.botones-inicio {
  position: absolute;
  top: 900px;
}

/* Estilo para hacer que el enlace sea invisible pero clickeable */
.link-portada {
  /* position: absolute; */
  /* left: 0;
  bottom: 0; */
  width: 100px;
  /* height: 33.33%; */

  text-decoration: none;
}

.link-portada img {
  width: 700px;
} */
